html,
body {
  overflow-x: hidden;
  /* Prevent scroll on narrow devices */
  display: block;
  background-color: #F4F4F4;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
#wrapper {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1.55;
  color: #000000;
  height: 100vh;
  /*height:100%;*/
}
#sidebar {
  z-index: 100;
  text-align: center;
  color:#777777;
  font-size: 110%;
}
.grid {
  margin-top: 130px;
}
.photo {
  padding: 130px 0px 10px 0px;
}
.photome {
   border-radius: 100px;
}

#sidebar h4 {
  padding-top: 2px;
  line-height: 0.7em;
  font-style: italic;
}
a{
  text-decoration: none;
  cursor: pointer;
}
.link{
  margin-top: 25px;
  margin-left: 10px;
}
.link-icon {
  color: #000000;
  margin-right: 15px;
  font-size: 160%;
}
.about__one {
  margin-top: 45px;
  font-weight: 900;
}
.about__two {
  font-weight: 900;
}
#sidebar p{
  font-size: 17px;
}
.skillset {
  padding-right: 39px;
}
.skill {
  display: inline-block;
  margin: 0 5px;
  padding: 0;
  list-style: none;
}
.project:first-child{
}
.project {
    z-index: 100;
  margin-left: 85px;
  margin-bottom: 30px;
  margin-top: 5px;
  margin-right: 40px;
  padding:0px;
  width: 270px;
  background-color: #ffffff;
  box-shadow: 1px 1px 1px #bdc3c7;
  transition: all .3s ease-out;
}
.info__icon {
  display: none;
  font-size: 350%;
}
.project:hover {
  box-shadow: 0px 0px 7px #777777;
}
.projectone:hover .info__icon {
  display: inline;
  position: absolute;
  top: 100px;
  left: 115px;
  opacity: .9;
}
.projecttwo:hover .info__icon {
  display: inline;
  position: absolute;
  top: 63px;
  left: 115px;
  opacity: .9;
}
.projectthree:hover .info__icon {
  display: inline;
  position: absolute;
  top: 75px;
  left: 115px;
  opacity: .9;
}
.projectfour:hover .info__icon {
  display: inline;
  position: absolute;
  top: 75px;
  left: 115px;
  opacity: .9;
}
.photo__project{
  transition: all .2s ease-out;
}
.project:hover .photo__project {
  opacity: 0.3;
}
.projectone {
  height: 500px;
}
.projecttwo {
  height: 350px;
}
.projectthree {
  height: 400px;
}
.projectfour {
  height: 600px;
}
.projectone .project__text {
  height: 50%;
  padding:15px 10px 0px 12px;
}
.projecttwo .project__text {
  height: 50%;
  padding:10px 10px 0px 12px;
}
.projectthree .project__text {
  height: 50%;
  padding:10px 10px 0px 12px;
}
.project__text p {
  color: #999;
  font-size: 18px;
}
.project__photo {
  height: 50%;
}
.a__head:hover {
  text-decoration:none
}
.a__head h4 {
  font-weight: 900;
  color:black;
  letter-spacing: .01em;
  font-size: 18px;
  text-transform: uppercase;
}

/*Adaptive MEDIA KEY*/
/*
@media (max-width: 767px) {
  .projectone {
    margin-left:35px;
  }
}*/
@media (max-width: 767px) {
  .project{
    margin: -30px 30px 70px 50px;
  }
  .photo {
    margin-top: -80px;
  }
  .about__one {
    margin-top: 15px
  }
}

@media (min-width: 320px) {
  .project {
    margin-left: 25px;
  }
}
/*PARTICLES JS LIBARY*/
#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 0;
  top: 0px;
  left: 0px;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
/*ANIMATION.CSS*/
#section-1 {
  animation-delay:0s;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
#section-2 {
  animation-delay:1s;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
#section-3 {
  animation-delay:1.5s;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
#profile-1{
  animation-delay:1s;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
#profile-2{
  animation-delay:1.5s;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
#profile-3{
  animation-delay:2s;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
#iconanim {
  animation-delay:3s;
  animation-duration: 1s;
  animation-iteration-count: 1;
}
#text-area-1 {
  animation-delay:3s;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
#text-area-2 {
  animation-delay:3.5s;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
#text-area-3 {
  animation-delay:4s;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
#text-area-4 {
  animation-delay:4.5s;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
