.container {
  max-width: 400px;
  margin: 100px auto;
  background-color: #ffffff;
  box-shadow: 1px 1px 10px #bdc3c7;
  transition: all .3s ease-out;
  position: relative;
  border-radius: 10px;
  z-index: 100;
  font-family: 'Mukta', sans-serif;
  text-align: center;
  padding: 30px 0;
  opacity: .8;
}

.container:hover {
  box-shadow: 1px 1px 30px #bdc3c7;
  cursor: pointer;
}

h1, h4 {
  color: #787878;
  margin: 0;
  margin-bottom: 10px;
  line-height: 1.3em;
}

h4 {
  font-style: italic;
  /* font-weight: 300; */
}

h1 {
  margin-bottom: 5px;
  font-weight: 300;
}

a {
  color: #777;
  text-decoration: none;
  transition: all .3s ease-out;
  margin-right: 5px;
}

a:hover {
  color: #000;
}
/*
=====================
    practicles js
=====================

*/
#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 0;
  top: 0px;
  left: 0px;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
/*ANIMATION.CSS*/
#section-1 {
  animation-delay:0s;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
#section-2 {
  animation-delay:1s;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
#section-3 {
  animation-delay:1.5s;
  animation-duration: 2s;
  animation-iteration-count: 1;
}


#profile-1{
  animation-delay:0.5s;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
#profile-2{
  animation-delay:1s;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
#profile-3{
  animation-delay:1.5s;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
#iconanim {
  animation-delay:3s;
  animation-duration: 1s;
  animation-iteration-count: 1;
}
#text-area-1 {
  animation-delay:3s;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
#text-area-2 {
  animation-delay:3.5s;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
#text-area-3 {
  animation-delay:4s;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
#text-area-4 {
  animation-delay:4.5s;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
